<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div ngClass="create-container">
        <input type="text" placeholder="Take a note...">
        <span style="display: flex; width:120px;justify-content: space-between;">
            <span class="material-symbols-outlined">
                check_box
            </span>
            <span class="material-symbols-outlined">
                brush
            </span>
            <span class="material-symbols-outlined">
                image
            </span>
        </span>
    </div>
    <div class="writeNote" *ngIf="true" >
        <div style="display: flex;justify-content: space-between;">
            <input placeholder="Title" class="input">
        <span class="material-symbols-outlined">
            keep
        </span>
    </div>
    <input placeholder="Take a note" class="input">
    <br>
    <div style="display: flex;justify-content: space-between;">
        <div style="display: flex;justify-content: space-between;width:300px;">
            <span class="material-symbols-outlined">
                add_alert
            </span>
            <span class="material-symbols-outlined">
                person_add
            </span>
            <span class="material-symbols-outlined">
                palette
            </span>
            <span class="material-symbols-outlined">
                image
            </span>
            <span class="material-symbols-outlined">
                archive
            </span>
            <span class="material-symbols-outlined">
                more_vert
            </span>
            <span class="material-symbols-outlined" style="color: grey;">
                undo
            </span>
            <span class="material-symbols-outlined" style="color: grey;">
                redo
            </span>
        </div>
    </div>    
</div>
</div>