<div ngClass="navbar">
  <div style="display: flex; gap: 20px">
    <span class="material-symbols-outlined"> menu </span>
    <div ngClass="navbar-logo"><img src="" alt="" /> FundooNotes</div>
  </div>
  <div ngClass="search-container">
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search" />
  </div>
  <div style="display: flex; gap: 10px">
    <span class="material-symbols-outlined"> refresh </span>
    <span class="material-symbols-outlined"> view_agenda </span>
    <span *ngIf="false" class="material-symbols-outlined"> view_quilt </span>
    <span class="material-symbols-outlined"> settings </span>
  </div>
  <div style="display: flex; align-items: center; gap: 10px;">
    <span class="material-symbols-outlined"> apps </span>
    profile
  </div>
</div>
