<div class="drawer">
    <div ngClass="tab">
        <span class="material-symbols-outlined">
            lightbulb
        </span>
        <span>Notes</span>
    </div>
    <div ngClass="tab">
        <span class="material-symbols-outlined">
            notifications
        </span>
        <span>Reminders</span>
    </div>
    <div ngClass="tab">
        <span class="material-symbols-outlined">
            label
        </span>
        <span>Travel Plans</span>
    </div>
    <div ngClass="tab">
        <span class="material-symbols-outlined">
            label
        </span>
        <span>Urgent Work</span>
    </div>
    <div ngClass="tab">
        <span class="material-symbols-outlined">
            edit
        </span>
        <span>Edit labels</span>
    </div>
    <div ngClass="tab">
        <span class="material-symbols-outlined">
            archive
        </span>
        <span>Archive</span>
    </div>
    <div ngClass="tab">
        <span class="material-symbols-outlined">
            delete
        </span>
        <span>Trash</span>
    </div>
</div>

<!-- <div class="sidenav-container">
    <div class="element" id="note" >
        
        <span>Notes</span>
    </div>
    <div class="element" id="notifications"  (click)="changeColor(this)" [routerLink]="['/dashboard/reminders']">
        
        <span>Reminders</span>
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        
    </div>
</div>
<div class="sidenav-container-icons" *ngIf="flag === 'false'">
    <div class="element" id="note" (click)="changeColor(this)" [routerLink]="['/dashboard/notes']">
        <span>
            <i class="material-icons">event_note</i>
        </span>
    </div>
    <div class="element" id="notifications"  (click)="changeColor(this)" [routerLink]="['/dashboard/reminders']">
        <span class="material-symbols-outlined">
            notifications
        </span>
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        <span class="material-symbols-outlined">
            label
        </span>
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        <span class="material-symbols-outlined">
            edit
        </span>
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        <span class="material-symbols-outlined">
            archive
        </span>
    </div>
    <div class="element" id="note" (click)="changeColor(this)">
        <span class="material-symbols-outlined">
            delete
        </span>
    </div>
</div> -->