.example-card {
  width: 250px;
  height: auto;
}
.notecard-icons>span {
  display: none;;
}
.example-card:hover .notecard-icons>span {
  display: block;
}
.notecard-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10% 5% 2% 5%;
}