<mat-card id="{{ noteDetails.id }}" class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ noteDetails.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ noteDetails.description }}</p>
  </mat-card-content>
  <mat-card-footer class="example-card-footer">
    <div class="notecard-icons">
      <span class="material-symbols-outlined"> add_alert </span>
      <span class="material-symbols-outlined"> person_add </span>
      <span class="material-symbols-outlined"> palette </span>
      <span class="material-symbols-outlined"> image </span>
      <span class="material-symbols-outlined"> archive </span>
      <span class="material-symbols-outlined"> more_vert </span>
    </div>
  </mat-card-footer>
</mat-card>
